# Estudando BDGD

Notebook referente a primeira versão das análises exploratórias da BDGD.

Vamos ler as tabelas referentes a rede de Média Tensão (MT) da Energisa-Paraíba (EPB) a partir da base de dados de 31/12/2020.

**Atenção:**

Estamos lendo os dados com um primeiro filtro:

Tabelas que possuem o campo `SIT_ATIV: Tipo de Situação de Ativação (TSITATI)` foram filtradas para ler apenas situação **AT Ativada**.

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

## Leitura dos DataFrames de Interesse - MT

Todos os dataframes lidos serão armazenados no dicionário `base`, para facilitar o acesso.

In [2]:
base = {}

In [3]:
def ler_dataframe(filename, index_col, filter = ''):
    '''
    Lê o dataframe a partir do arquivo e imprime as 3 primeiras linhas e o shape.
    '''

    df = pd.read_csv(filename, index_col=index_col)
    return df.query(filter) if len(filter)>0 else df

### Leitura: SUB

**Subestação**

* Designação da Entidade: Subestação
* Designação da Modelagem: SUB
* Tipo: Polígono

In [4]:
base['SUB'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_sub.csv', 
    index_col = 1
)
display(base['SUB'].head(3))

,WKT,COD_ID,DIST,POS,NOM,DESCR,Shape_Length,Shape_Area
OBJECTID,,,,,,,,
1,MULTIPOLYGON (((-35.036465324615 -6.9844584661...,125389094,6600,PD,DERIVAÃ‡ÃƒO JAPUNGU,,0.002362,3.481311e-07
2,MULTIPOLYGON (((-35.0381456700866 -7.493050442...,125389096,6600,PD,DERIVAÃ‡ÃƒO POTY,,0.001089,7.373553e-08
3,MULTIPOLYGON (((-38.169453141749 -6.8835603674...,125389097,6600,PD,DERIVAÃ‡ÃƒO VÃRZEA DE SOUZA,,0.001076,7.226439e-08

### Leitura: CTMT

**Circuito de Média Tensão**

* Designação da Entidade: Circuito de Média Tensão
* Designação da Modelagem: CTMT
* Tipo: Entidades Não Geográficas

In [5]:
base['CTMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_ctmt.csv', 
    index_col = 0
)
display(base['CTMT'].head(3))

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR,PERD_A3aA4,PERD_A4A3a
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA,0,0
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA,0,0
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA,0,0

### Leitura: UCMT

**Unidade Consumidora de Média Tensão**

* Designação da Entidade: Unidade Consumidora de Média Tensão
* Designação da Modelagem: UCMT
* Tipo: Ponto

In [6]:
base['UCMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_ucmt.csv', 
    index_col = 0,
    filter = 'SIT_ATIV == "AT"',
)
display(base['UCMT'].head(3))

,PN_CON,DIST,PAC,CEG,CTMT,UNI_TR_S,SUB,CONJ,MUN,BRR,...,ENE_08,ENE_09,ENE_10,ENE_11,ENE_12,DIC,FIC,SEMRED,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,215318339,6600,95071600919893254MT,,51696835,211896113,12873482,13694,2504603,GRAMAME,...,48944.0,53146.0,56375.0,59707.0,58374,4.38,4,0,,UB
2,212200903,6600,68443548922522502MT,GD.PB.000.288.174,17067396,12910486,12873439,13728,2510808,AREA RURAL,...,-1428.0,-2236.0,-2395.0,-1845.0,-836,23.93,6,0,,NU
3,208830151,6600,94574235920713836MT,,51696938,12911647,12873417,13738,2513703,STA RITA,...,1154.0,1178.0,1053.0,1100.0,1079,0.53,1,0,,UB

### Leitura: UGMT

**Unidade Geradora de Média Tensão**

* Designação da Entidade: Unidade Geradora de Média Tensão
* Designação da Modelagem: UGMT
* Tipo: Ponto

In [7]:
base['UGMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_ugmt.csv', 
    index_col = 0,
    filter = 'SIT_ATIV == "AT"',
)
display(base['UGMT'].head(3))

,PN_CON,DIST,PAC,CEG,CTMT,UNI_TR_S,SUB,CONJ,MUN,BRR,...,ENE_06,ENE_07,ENE_08,ENE_09,ENE_10,ENE_11,ENE_12,DIC,FIC,DESCR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,48609303,6600,94080102927187766MT,EOL.CV.PB.029075-0.01,51696884,12875414,12912337,15806,2509305,AREA RURAL,...,690638.994,884255.136,1282595.512,1216664.058,870275.106,1057531.366,1034874.153,2.01,1,Vitoria Eolica
2,307167171,6600,92786260924008931MT,UTE.AI.PB.034891-0.01,210952743,12910813,12873487,13730,2508901,MAMANGUAPE,...,0.000,0.000,694666.803,1382124.756,2080004.825,1937204.994,2026783.968,9.75,6,UTE Monte Alegre Biomassa
3,225272837,6600,94369950921027026BT,UTE.RU.PB.043199-0.02,51696942,34820744,12873417,13738,2513703,CENTRO,...,751298.974,1639810.853,1958572.721,2367510.458,2326935.806,2451976.676,2478586.494,0.00,0,ASJA Bioenergia

### Leitura: SSDMT

**Segmento do Sistema de Distribuição de Média Tensão**

* Designação da Entidade: Segmento de Rede Média Tensão
* Designação da Modelagem: SSDMT
* Tipo: Linha

In [8]:
base['SSDMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_ssdmt.csv', 
    index_col = 1
)
display(base['SSDMT'].head(3))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

,WKT,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,...,ODI_FAS,TI_FAS,ODI_NEU,TI_NEU,COMP,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,MULTILINESTRING ((-38.2559744372704 -6.5957049...,15223672,20084633,20084577,17067438,12911922,12873440,13739,6600,58224935927088283MT,...,1,41,,0,180.579,,AT1,0,NU,0.001633
2,MULTILINESTRING ((-38.2590492067554 -6.5834943...,15223673,20083770,20084206,17067438,12911922,12873440,13739,6600,58191143927223327MT,...,1,41,,0,178.969,,AT1,0,NU,0.001619
3,MULTILINESTRING ((-38.2571946131408 -6.5848633...,15223674,20326698,20084492,17067438,12911922,12873440,13739,6600,58211624927208161MT,...,1,41,,0,60.545,,AT1,0,NU,0.000548

### Leitura: UNCRMT

**Unidade Compensadora de Reativo de Média Tensão**

* Designação da Entidade: Unidade Compensadora de Reativo Média Tensão
* Designação da Modelagem: UNCRMT
* Tipo: Ponto

In [9]:
base['UNCRMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_uncrmt.csv', 
    index_col = 1,
    filter = 'SIT_ATIV == "AT"',
)
display(base['UNCRMT'].head(3))

,WKT,COD_ID,DIST,FAS_CON,SIT_ATIV,TIP_UNID,POT_NOM,PAC_1,PAC_2,CTMT,UNI_TR_S,SUB,CONJ,MUN,DAT_CON,BANC,POS,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,
1,POINT (-35.6626347765736 -7.24688882935595),12910620,6600,ABC,AT,10,14,RIC12910630,,26260976,281690694,12873447,13729,2512754,01/01/1920,0,PD,,UB
2,POINT (-35.1010751879695 -6.81570055113946),12910817,6600,ABC,AT,10,16,RTT12910871,,51696925,12910813,12873487,13730,2512903,01/01/1920,0,PD,,UB
3,POINT (-35.1010751879695 -6.81570055113946),12910818,6600,ABC,AT,10,16,RTT12910875,,51696927,12910814,12873487,13730,2512903,01/01/1920,0,PD,,UB

### Leitura: UNREMT

**Unidade Reguladora de Média Tensão**

* Designação da Entidade: Unidade Reguladora de Média Tensão
* Designação da Modelagem: UNREMT
* Tipo: Ponto

In [10]:
base['UNREMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_unremt.csv', 
    index_col = 1,
    filter = 'SIT_ATIV == "AT"',
)
display(base['UNREMT'].head(3))

,WKT,COD_ID,DIST,FAS_CON,SIT_ATIV,TIP_UNID,PAC_1,PAC_2,CTMT,UNI_TR_S,SUB,CONJ,MUN,DAT_CON,BANC,POS,DESCR
OBJECTID,,,,,,,,,,,,,,,,,
1,POINT (-38.0577686211249 -7.4431955120632),320380142,6600,ABC,AT,13,60397344917714660MT,60397394917714574MT,17067317,12907810,12873433,13707,2511004,01/01/1920,1,PD,
2,POINT (-38.4886518070352 -7.55012825511483),335443000,6600,ABC,AT,13,55641141916540268MT,55641044916540243MT,387937142,12877171,12873436,13704,2504405,01/01/1920,1,PD,
3,POINT (-38.1822249806983 -6.81963307330761),339110082,6600,ABC,AT,13,59036095924611374MT,59036170924611309MT,17067450,12911923,12873440,13739,2516201,01/01/1920,1,PD,

### Leitura: UNSEMT

**Unidade Seccionadora de Média Tensão**

* Designação da Entidade: Unidade Seccionadora de Média Tensão
* Designação da Modelagem: UNSEMT
* Tipo: Ponto

In [11]:
base['UNSEMT'] = ler_dataframe(
    filename = '../20201231_Exportação/20201231_unsemt.csv', 
    index_col = 1,
    filter = 'SIT_ATIV == "AT"',
)
display(base['UNSEMT'].head(3))

,WKT,COD_ID,DIST,PAC_1,PAC_2,FAS_CON,SIT_ATIV,TIP_UNID,P_N_OPE,CAP_ELO,...,TLCD,DAT_CON,POS,CTMT,UNI_TR_S,SUB,CONJ,MUN,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,POINT (-35.7050706318042 -7.61082473027705),24312960,6600,86362930915733974MT,86363082915733979MT,B,AT,22,F,2H,...,0,01/01/1920,PD,26260949,397864865,12873450,13686,2501302,,NU
2,POINT (-35.5900458995985 -7.18070067739433),24312961,6600,87670313920487277MT,87670162920487260MT,ABC,AT,22,F,2H,...,0,01/01/1920,PD,26260976,281690694,12873447,13729,2507606,,UB
3,POINT (-36.8918768843107 -7.34120679735577),24312963,6600,73272227918798438MT,73272101918798353MT,A,AT,22,F,1H,...,0,01/01/1920,PD,139962991,12908668,12873453,16188,2508505,,NU

### Resultado `base`

In [12]:
for key in base.keys():
    print(f'[{key}]: {base[key].shape}')

[SUB]: (91, 8)
[CTMT]: (360, 58)
[UCMT]: (1891, 51)
[UGMT]: (5, 46)
[SSDMT]: (434463, 24)
[UNCRMT]: (145, 19)
[UNREMT]: (265, 17)
[UNSEMT]: (102984, 21)

## Consistência da base em relação às SUBs

Vou guardar em `lista_SUBs` os códigos das subestações declaradas em **SUB**.

Todos os dataframes filtrados serão armazenados nos dicionários `base_ok` e `base_not_ok`, para facilitar o acesso.

`OK` aqui está sendo usado para marcar rows cuja subestação pertence a lista de subestações declaradas em `SUB`.

In [13]:
base_ok = {}
base_not_ok = {}

lista_SUBs = list(base['SUB']['COD_ID'].unique())
lista_SUBs[:3]

[125389094, 125389096, 125389097]

In [14]:
def filtrar_por_SUB(key, base, lista_SUBs):
    '''
    Separa o dataframe base[key] olhando para a coluna 'SUB'.
    Registros com 'SUB' pertencentes a 'lista_SUBs' vão para 'df'.
    Os demais vão para 'df_not'.
    '''
    
    def converte_para_int(valor):
        try:
            return int(valor)
        except:
            return -1
    
    flag = [(converte_para_int(item) in lista_SUBs) for item in base[key]['SUB']]
    flag_not = [not item for item in flag]

    df = base[key][flag].copy()
    df_not = base[key][flag_not].copy()
    
    return df, df_not

### Filtro CTMT

In [15]:
base_ok['CTMT'], base_not_ok['CTMT'] = filtrar_por_SUB('CTMT', base, lista_SUBs)

display(base_ok['CTMT'].head(3))
print(f"base_ok['CTMT'].shape = {base_ok['CTMT'].shape}")
display(base_not_ok['CTMT'].head(3))
print(f"base_not_ok['CTMT'].shape = {base_not_ok['CTMT'].shape}")

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR,PERD_A3aA4,PERD_A4A3a
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA,0,0
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA,0,0
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA,0,0

base_ok['CTMT'].shape = (346, 58)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR,PERD_A3aA4,PERD_A4A3a
OBJECTID,,,,,,,,,,,,,,,,,,,,,
65,137884650,CGD-01Y4,259791375,12873455,84147243919589116MT,49,1.029,0,0,6600,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,A linha deriva de SE de atendimento precário,0,0
69,17067266,CJZ-L2,12875486,164370026,17067266,49,1.029,0,0,6600,...,206896.072758,243548.239114,312777.615982,300575.281758,5803.728748,1818.800136,1474.978926,Atendimento Precário,0,0
110,53149444,CGD-01Y1,259791375,12873455,84147527919589942MT,49,1.029,0,0,6600,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,A linha deriva de SE de atendimento precário,0,0

base_not_ok['CTMT'].shape = (14, 58)

### Filtro UCMT

In [16]:
base_ok['UCMT'], base_not_ok['UCMT'] = filtrar_por_SUB('UCMT', base, lista_SUBs)

display(base_ok['UCMT'].head(3))
print(f"base_ok['UCMT'].shape = {base_ok['UCMT'].shape}")
display(base_not_ok['UCMT'].head(3))
print(f"base_not_ok['UCMT'].shape = {base_not_ok['UCMT'].shape}")

,PN_CON,DIST,PAC,CEG,CTMT,UNI_TR_S,SUB,CONJ,MUN,BRR,...,ENE_08,ENE_09,ENE_10,ENE_11,ENE_12,DIC,FIC,SEMRED,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,215318339,6600,95071600919893254MT,,51696835,211896113,12873482,13694,2504603,GRAMAME,...,48944.0,53146.0,56375.0,59707.0,58374,4.38,4,0,,UB
2,212200903,6600,68443548922522502MT,GD.PB.000.288.174,17067396,12910486,12873439,13728,2510808,AREA RURAL,...,-1428.0,-2236.0,-2395.0,-1845.0,-836,23.93,6,0,,NU
3,208830151,6600,94574235920713836MT,,51696938,12911647,12873417,13738,2513703,STA RITA,...,1154.0,1178.0,1053.0,1100.0,1079,0.53,1,0,,UB

base_ok['UCMT'].shape = (1890, 51)

,PN_CON,DIST,PAC,CEG,CTMT,UNI_TR_S,SUB,CONJ,MUN,BRR,...,ENE_08,ENE_09,ENE_10,ENE_11,ENE_12,DIC,FIC,SEMRED,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
717,,6600,80280396920211948MT,,245932938,BVA41T1,BVA,13722,2516102,AREA RURAL,...,1472569.85,1431428.256,1501620.696,1403008.808,1453582,0.0,0,0,PBBVA-01P1-01,NU

base_not_ok['UCMT'].shape = (1, 51)

No campo SUB aparece 'BVA'.

### Filtro UGMT

In [17]:
base_ok['UGMT'], base_not_ok['UGMT'] = filtrar_por_SUB('UGMT', base, lista_SUBs)

display(base_ok['UGMT'].head(3))
print(f"base_ok['UGMT'].shape = {base_ok['UGMT'].shape}")
display(base_not_ok['UGMT'].head(3))
print(f"base_not_ok['UGMT'].shape = {base_not_ok['UGMT'].shape}")

,PN_CON,DIST,PAC,CEG,CTMT,UNI_TR_S,SUB,CONJ,MUN,BRR,...,ENE_06,ENE_07,ENE_08,ENE_09,ENE_10,ENE_11,ENE_12,DIC,FIC,DESCR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,48609303,6600,94080102927187766MT,EOL.CV.PB.029075-0.01,51696884,12875414,12912337,15806,2509305,AREA RURAL,...,690638.994,884255.136,1282595.512,1216664.058,870275.106,1057531.366,1034874.153,2.01,1,Vitoria Eolica
2,307167171,6600,92786260924008931MT,UTE.AI.PB.034891-0.01,210952743,12910813,12873487,13730,2508901,MAMANGUAPE,...,0.000,0.000,694666.803,1382124.756,2080004.825,1937204.994,2026783.968,9.75,6,UTE Monte Alegre Biomassa
3,225272837,6600,94369950921027026BT,UTE.RU.PB.043199-0.02,51696942,34820744,12873417,13738,2513703,CENTRO,...,751298.974,1639810.853,1958572.721,2367510.458,2326935.806,2451976.676,2478586.494,0.00,0,ASJA Bioenergia

base_ok['UGMT'].shape = (5, 46)

Empty DataFrame
Columns: [PN_CON, DIST, PAC, CEG, CTMT, UNI_TR_S, SUB, CONJ, MUN, BRR, CEP, CNAE, FAS_CON, GRU_TEN, TEN_FORN, SIT_ATIV, DAT_CON, POT_INST, POT_CONT, DEM_01, DEM_02, DEM_03, DEM_04, DEM_05, DEM_06, DEM_07, DEM_08, DEM_09, DEM_10, DEM_11, DEM_12, ENE_01, ENE_02, ENE_03, ENE_04, ENE_05, ENE_06, ENE_07, ENE_08, ENE_09, ENE_10, ENE_11, ENE_12, DIC, FIC, DESCR]
Index: []

[0 rows x 46 columns]

base_not_ok['UGMT'].shape = (0, 46)

### Filtro SSDMT

In [18]:
base_ok['SSDMT'], base_not_ok['SSDMT'] = filtrar_por_SUB('SSDMT', base, lista_SUBs)

display(base_ok['SSDMT'].head(3))
print(f"base_ok['SSDMT'].shape = {base_ok['SSDMT'].shape}")
display(base_not_ok['SSDMT'].head(3))
print(f"base_not_ok['SSDMT'].shape = {base_not_ok['SSDMT'].shape}")

,WKT,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,...,ODI_FAS,TI_FAS,ODI_NEU,TI_NEU,COMP,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,MULTILINESTRING ((-38.2559744372704 -6.5957049...,15223672,20084633,20084577,17067438,12911922,12873440,13739,6600,58224935927088283MT,...,1,41,,0,180.579,,AT1,0,NU,0.001633
2,MULTILINESTRING ((-38.2590492067554 -6.5834943...,15223673,20083770,20084206,17067438,12911922,12873440,13739,6600,58191143927223327MT,...,1,41,,0,178.969,,AT1,0,NU,0.001619
3,MULTILINESTRING ((-38.2571946131408 -6.5848633...,15223674,20326698,20084492,17067438,12911922,12873440,13739,6600,58211624927208161MT,...,1,41,,0,60.545,,AT1,0,NU,0.000548

base_ok['SSDMT'].shape = (433966, 24)

,WKT,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,...,ODI_FAS,TI_FAS,ODI_NEU,TI_NEU,COMP,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
5897,MULTILINESTRING ((-35.9136537529183 -7.2581441...,157508226,157508214,157508227,53149444,,12873455,13722,6600,84086003919655332MT,...,1,40,,0,86.174,,AT1,0,UB,0.000779
5952,MULTILINESTRING ((-35.9144243720871 -7.2580269...,157508253,157508227,203707362,53149444,,12873455,13722,6600,84077493919656688MT,...,1,40,,0,45.856,,AT1,0,UB,0.000414
5958,MULTILINESTRING ((-35.9145847400936 -7.2576449...,157508262,203707362,53162729,53149444,,12873455,13722,6600,84075749919660929MT,...,1,40,,0,43.064,,AT1,0,UB,0.000389

base_not_ok['SSDMT'].shape = (497, 24)

In [19]:
12873455 in lista_SUBs

False

### Filtro UNCRMT

In [20]:
base_ok['UNCRMT'], base_not_ok['UNCRMT'] = filtrar_por_SUB('UNCRMT', base, lista_SUBs)

display(base_ok['UNCRMT'].head(3))
print(f"base_ok['UNCRMT'].shape = {base_ok['UNCRMT'].shape}")
display(base_not_ok['UNCRMT'].head(3))
print(f"base_not_ok['UNCRMT'].shape = {base_not_ok['UNCRMT'].shape}")

,WKT,COD_ID,DIST,FAS_CON,SIT_ATIV,TIP_UNID,POT_NOM,PAC_1,PAC_2,CTMT,UNI_TR_S,SUB,CONJ,MUN,DAT_CON,BANC,POS,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,
1,POINT (-35.6626347765736 -7.24688882935595),12910620,6600,ABC,AT,10,14,RIC12910630,,26260976,281690694,12873447,13729,2512754,01/01/1920,0,PD,,UB
2,POINT (-35.1010751879695 -6.81570055113946),12910817,6600,ABC,AT,10,16,RTT12910871,,51696925,12910813,12873487,13730,2512903,01/01/1920,0,PD,,UB
3,POINT (-35.1010751879695 -6.81570055113946),12910818,6600,ABC,AT,10,16,RTT12910875,,51696927,12910814,12873487,13730,2512903,01/01/1920,0,PD,,UB

base_ok['UNCRMT'].shape = (145, 19)

Empty DataFrame
Columns: [WKT, COD_ID, DIST, FAS_CON, SIT_ATIV, TIP_UNID, POT_NOM, PAC_1, PAC_2, CTMT, UNI_TR_S, SUB, CONJ, MUN, DAT_CON, BANC, POS, DESCR, ARE_LOC]
Index: []

base_not_ok['UNCRMT'].shape = (0, 19)

### Filtro UNREMT

In [21]:
base_ok['UNREMT'], base_not_ok['UNREMT'] = filtrar_por_SUB('UNREMT', base, lista_SUBs)

display(base_ok['UNREMT'].head(3))
print(f"base_ok['UNREMT'].shape = {base_ok['UNREMT'].shape}")
display(base_not_ok['UNREMT'].head(3))
print(f"base_not_ok['UNREMT'].shape = {base_not_ok['UNREMT'].shape}")

,WKT,COD_ID,DIST,FAS_CON,SIT_ATIV,TIP_UNID,PAC_1,PAC_2,CTMT,UNI_TR_S,SUB,CONJ,MUN,DAT_CON,BANC,POS,DESCR
OBJECTID,,,,,,,,,,,,,,,,,
1,POINT (-38.0577686211249 -7.4431955120632),320380142,6600,ABC,AT,13,60397344917714660MT,60397394917714574MT,17067317,12907810,12873433,13707,2511004,01/01/1920,1,PD,
2,POINT (-38.4886518070352 -7.55012825511483),335443000,6600,ABC,AT,13,55641141916540268MT,55641044916540243MT,387937142,12877171,12873436,13704,2504405,01/01/1920,1,PD,
3,POINT (-38.1822249806983 -6.81963307330761),339110082,6600,ABC,AT,13,59036095924611374MT,59036170924611309MT,17067450,12911923,12873440,13739,2516201,01/01/1920,1,PD,

base_ok['UNREMT'].shape = (263, 17)

,WKT,COD_ID,DIST,FAS_CON,SIT_ATIV,TIP_UNID,PAC_1,PAC_2,CTMT,UNI_TR_S,SUB,CONJ,MUN,DAT_CON,BANC,POS,DESCR
OBJECTID,,,,,,,,,,,,,,,,,
77,POINT (-35.9343140041879 -7.22037880293936),53090327,6600,ABC,AT,14,83860474920074919MT,83860399920074986MT,53149444,,12873455,13722,2504009,01/01/1920,1,PD,
253,POINT (-38.5222371552205 -7.31690242390766),32797585,6600,ABC,AT,13,55273310919119032MT,55273408919119041MT,51696888,,188425020,13691,2502409,25/08/2015,1,PD,

base_not_ok['UNREMT'].shape = (2, 17)

In [22]:
12873455 in lista_SUBs

False

### Filtro UNSEMT

In [23]:
base_ok['UNSEMT'], base_not_ok['UNSEMT'] = filtrar_por_SUB('UNSEMT', base, lista_SUBs)

display(base_ok['UNSEMT'].head(3))
print(f"base_ok['UNSEMT'].shape = {base_ok['UNSEMT'].shape}")
display(base_not_ok['UNSEMT'].head(3))
print(f"base_not_ok['UNSEMT'].shape = {base_not_ok['UNSEMT'].shape}")

,WKT,COD_ID,DIST,PAC_1,PAC_2,FAS_CON,SIT_ATIV,TIP_UNID,P_N_OPE,CAP_ELO,...,TLCD,DAT_CON,POS,CTMT,UNI_TR_S,SUB,CONJ,MUN,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,POINT (-35.7050706318042 -7.61082473027705),24312960,6600,86362930915733974MT,86363082915733979MT,B,AT,22,F,2H,...,0,01/01/1920,PD,26260949,397864865,12873450,13686,2501302,,NU
2,POINT (-35.5900458995985 -7.18070067739433),24312961,6600,87670313920487277MT,87670162920487260MT,ABC,AT,22,F,2H,...,0,01/01/1920,PD,26260976,281690694,12873447,13729,2507606,,UB
3,POINT (-36.8918768843107 -7.34120679735577),24312963,6600,73272227918798438MT,73272101918798353MT,A,AT,22,F,1H,...,0,01/01/1920,PD,139962991,12908668,12873453,16188,2508505,,NU

base_ok['UNSEMT'].shape = (102873, 21)

,WKT,COD_ID,DIST,PAC_1,PAC_2,FAS_CON,SIT_ATIV,TIP_UNID,P_N_OPE,CAP_ELO,...,TLCD,DAT_CON,POS,CTMT,UNI_TR_S,SUB,CONJ,MUN,DESCR,ARE_LOC
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1779,POINT (-35.9182381810472 -7.78355066193348),38336904,6600,83994336913839179MT,83994336913839331MT,A,AT,22,F,6K,...,0,09/08/2014,PD,26260908,,12873465,13743,2513158,Medição de Fronteira / SE particular,NU
2489,POINT (-35.508735524225 -7.49956097276066),46715444CT,6600,88542109916949174MT,88542109916949174ET,ABC,AT,22,F,0,...,0,01/01/1920,0,51696889,,12873421,13686,2609006,Medição de Fronteira / SE particular,NU
2491,POINT (-35.5052773350809 -7.5023135412369),46715446CT,6600,88580089916918385MT,88580089916918385ET,C,AT,22,F,0,...,0,01/01/1920,0,51696889,,12873421,13686,2613800,Medição de Fronteira / SE particular,NU

base_not_ok['UNSEMT'].shape = (111, 21)

### Resultado

`base_ok`

In [24]:
for key in base_ok.keys():
    print(f'[{key}]: {base_ok[key].shape}')

[CTMT]: (346, 58)
[UCMT]: (1890, 51)
[UGMT]: (5, 46)
[SSDMT]: (433966, 24)
[UNCRMT]: (145, 19)
[UNREMT]: (263, 17)
[UNSEMT]: (102873, 21)

`base_not_ok`

In [25]:
for key in base_not_ok.keys():
    print(f'[{key}]: {base_not_ok[key].shape}')

[CTMT]: (14, 58)
[UCMT]: (1, 51)
[UGMT]: (0, 46)
[SSDMT]: (497, 24)
[UNCRMT]: (0, 19)
[UNREMT]: (2, 17)
[UNSEMT]: (111, 21)

## Criação de Dataframe único com equipamentos de 2 portas

A idéia aqui é deixar a base de dados de entrada genérica:

* `base` significa usar os dados completos;
* `base_ok` significa usar apenas os registros que tem **SUB** na lista de subestações.

A escolha ocorre aqui pela escolha da variável `work`:

In [26]:
work = base

In [27]:
def juntar_dfs_2portas(dados):
    cols = ['COD_ID', 'PAC_1', 'PAC_2', 'SUB', 'CTMT', 'WKT']
    df = pd.DataFrame(columns=cols + ['KEY'])

    # Para cada um dos df de 2-portas...
    for key in ['SSDMT', 'UNCRMT', 'UNREMT', 'UNSEMT']:
        if key == 'UNSEMT':
            dff = dados[key].query('P_N_OPE == "F"')
            dff = dff[cols]
        else:
            dff = dados[key][cols].copy()

        dff['KEY'] = key
        df = pd.concat([df, dff], ignore_index=True)

    df['circ_SUB'] = -1
    df['circ_CTMT'] = -1
    df['circ_PAC_de'] = -1
    df['circ_PAC_pr'] = -1
    df['circ_cont'] = -1

    return df

In [28]:
df_2portas = juntar_dfs_2portas(work)

display(df_2portas.head(3))
display(df_2portas.tail(3))
df_2portas.shape

,COD_ID,PAC_1,PAC_2,SUB,CTMT,WKT,KEY,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
0,15223672,58224935927088283MT,58221888927070484MT,12873440,17067438,MULTILINESTRING ((-38.2559744372704 -6.5957049...,SSDMT,-1,-1,-1,-1,-1
1,15223673,58191143927223327MT,58205538927212693MT,12873440,17067438,MULTILINESTRING ((-38.2590492067554 -6.5834943...,SSDMT,-1,-1,-1,-1,-1
2,15223674,58211624927208161MT,58216190927204185MT,12873440,17067438,MULTILINESTRING ((-38.2571946131408 -6.5848633...,SSDMT,-1,-1,-1,-1,-1

,COD_ID,PAC_1,PAC_2,SUB,CTMT,WKT,KEY,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
536043,53089327CT,82244469921547437MT,82244469921547437ET,58561573,184385076,POINT (-36.0813351282135 -7.08831252140567),UNSEMT,-1,-1,-1,-1,-1
536044,53242965,82494551921692917MT,82494702921692936MT,58561573,184385076,POINT (-36.0588020909437 -7.07502725590308),UNSEMT,-1,-1,-1,-1,-1
536045,53242853,82403794921823971MT,82403696921823854MT,58561573,184385076,POINT (-36.067084218362 -7.06323963679978),UNSEMT,-1,-1,-1,-1,-1

(536046, 12)

## Desenho de Rede

In [ ]:
colocar um mapa aqui... plotando uma fatia de df_2portas..........

## Criação dos circuitos por Busca em Largura

Existe um `PAC` em cada circuito de MT armazenado em `CTMT` que identifica sua conexão na `SUB`. 

Esse `PAC` será usado como ponto de partida para a busca em largura. 

De forma didática, faremos primeiro a busca referente ao primeiro circuito:

In [89]:
row = work['CTMT'].iloc[0]
sub = row['SUB']
pac = row['PAC']

print(f'sub = {sub}, pac = {pac}')

sub = 12873436, pac = 56560487917146437MT

In [90]:
def busca_em_largura(df, sub, pac_circ):
    flag = (df['circ_SUB'] == -1)
    dff = df[flag]
    
    C = [pac_circ,]
    D = set(list(dff['PAC_1']) + list(dff['PAC_2'])) - set(C)
    D = [item for item in D if len(item.strip()) > 0]
    cont = 0

    while(len(C) > 0):

        atual = C[0]
#         print('\n\n')
#         print(f'atual = {atual}\n')
#         print('=====')
#         for item in C:
#             print(f'C.item = {item}')
#         print('=====')

        flag1 = (dff['PAC_1'] == atual)
#         print(f'sum(flag1) = {sum(flag1)}\n')

        filhos = dff[flag1]
#         display(filhos)

        for idx, row in filhos.iterrows():
            if (row['PAC_2'] in D) or (len(row['PAC_2'].strip()) == 0):
#                 print('Achou trecho!')
                df.loc[idx,'circ_SUB'] = sub
                df.loc[idx,'circ_CTMT'] = pac_circ
                df.loc[idx,'circ_PAC_de'] = row['PAC_1']
                df.loc[idx,'circ_PAC_pr'] = row['PAC_2']
                df.loc[idx,'circ_cont'] = cont
                cont += 1

                if len(row['PAC_2'].strip()) > 0:
                    D.remove(row['PAC_2'])
                    C.append(row['PAC_2'])
            else:
#                 print('Achou malha!')
                df.loc[idx,'circ_SUB'] = 'Malha'
                df.loc[idx,'circ_CTMT'] = 'Malha'
                df.loc[idx,'circ_PAC_de'] = 'Malha'
                df.loc[idx,'circ_PAC_pr'] = 'Malha'
#                 breakpoint()

        flag2 = (dff['PAC_2'] == atual)
#         print(f'sum(flag2) = {sum(flag2)}\n')
        
        filhos = dff[flag2]
#         display(filhos)
        
        for idx, row in filhos.iterrows():
            if (row['PAC_1'] in D) or (len(row['PAC_1'].strip()) == 0):
#                 print('Achou trecho!')
                df.loc[idx,'circ_SUB'] = sub
                df.loc[idx,'circ_CTMT'] = pac_circ
                df.loc[idx,'circ_PAC_de'] = row['PAC_2']
                df.loc[idx,'circ_PAC_pr'] = row['PAC_1']
                df.loc[idx,'circ_cont'] = cont
                cont += 1

                if len(row['PAC_2'].strip()) > 0:
                    D.remove(row['PAC_1'])
                    C.append(row['PAC_1'])
            else:
#                 print('Achou malha!')
                df.loc[idx,'circ_SUB'] = 'Malha'
                df.loc[idx,'circ_CTMT'] = 'Malha'
                df.loc[idx,'circ_PAC_de'] = 'Malha'
                df.loc[idx,'circ_PAC_pr'] = 'Malha'
    
        flag = (df['circ_SUB'] == -1)      
        dff = df[flag]
#         print(f'dff.shape = {dff.shape}')
        if (cont % 500) == 0:
            print('+500 iterações.')
#             breakpoint()
        C.remove(atual)

In [91]:
df = df_2portas.copy()
busca_em_largura(df, sub, pac)

+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.
+500 iterações.

Quantos trechos foram classificados como sendo da SUB?

In [92]:
flag = (df['circ_SUB'] == sub)
sum(flag)

10196

Quantos trechos classificados como sendo da SUB eram esperados?

In [93]:
flag = (df['SUB'] == sub)
sum(flag)

10207

In [94]:
flag = (df['SUB'] == sub)
df[flag]['CTMT'].unique()

array([17067306, 387937142, 17067308, 17067304, 17067303], dtype=object)

Mostre os trechos em que houve diferença.

In [95]:
flag = (df['circ_SUB'] != -1) & (df['SUB'] != df['circ_SUB'])
df[flag]

,COD_ID,PAC_1,PAC_2,SUB,CTMT,WKT,KEY,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
344743,15315511,56559101917147769MT,56559563917148551MT,12873436,17067308,MULTILINESTRING ((-38.4055147772851 -7.4950717...,SSDMT,Malha,Malha,Malha,Malha,-1
440272,475586316O,57906902917786703MT,57906930917786713MT,12873436,17067308,POINT (-38.283460839646 -7.4370994539766),UNSEMT,Malha,Malha,Malha,Malha,-1
440274,475586316INT,57906809917786666MT,57906902917786703MT,12873436,17067308,POINT (-38.283460839646 -7.4370994539766),UNSEMT,Malha,Malha,Malha,Malha,-1
444105,16932933O,55520569916508998MT,55520539916508997MT,12873436,17067306,POINT (-38.4995688752034 -7.55296794631363),UNSEMT,Malha,Malha,Malha,Malha,-1
444109,16932933INT,55520668916509009MT,55520569916508998MT,12873436,17067306,POINT (-38.4995688752034 -7.55296794631363),UNSEMT,Malha,Malha,Malha,Malha,-1
444502,404808281O,56190368916654074MT,56190355916654047MT,12873436,387937142,POINT (-38.4388743272883 -7.53976788977627),UNSEMT,Malha,Malha,Malha,Malha,-1
444505,404808281INT,56190411916654165MT,56190368916654074MT,12873436,387937142,POINT (-38.4388743272883 -7.53976788977627),UNSEMT,Malha,Malha,Malha,Malha,-1
457611,113280024O,56360583916917849MT,56360563916917826MT,12873436,17067306,POINT (-38.4234764823537 -7.51588924099565),UNSEMT,Malha,Malha,Malha,Malha,-1
457614,113280024INT,56360648916917924MT,56360583916917849MT,12873436,17067306,POINT (-38.4234764823537 -7.51588924099565),UNSEMT,Malha,Malha,Malha,Malha,-1
457630,335443000O,55641044916540243MT,55641015916540235MT,12873436,387937142,POINT (-38.4886518070352 -7.55012825511483),UNSEMT,Malha,Malha,Malha,Malha,-1
457844,335443000INT,55641141916540268MT,55641044916540243MT,12873436,387937142,POINT (-38.4886518070352 -7.55012825511483),UNSEMT,Malha,Malha,Malha,Malha,-1

Observe que nos 11 trechos a busca em largura identificou o fechamento de malha e por isso não registrou como parte da subestação `sub`.

Há apenas um segmento de rede e o restante é chave.

O segmento é mostrado a seguir:

In [96]:
work['SSDMT'].loc[344743,:]

WKT             MULTILINESTRING ((-36.3920526712937 -6.6450393...
COD_ID                                                   23406177
PN_CON_1                                                 26619564
PN_CON_2                                                 26619714
CTMT                                                     26260925
UNI_TR_S                                                 12913257
SUB                                                      12912336
CONJ                                                        13726
DIST                                                         6600
PAC_1                                         78836021926473070MT
PAC_2                                         78869913926480504MT
FAS_CON                                                         C
TIP_CND                                               16512332H-1
POS                                                            PD
ODI_FAS                                                         1
TI_FAS                                                         41
ODI_NEU
TI_NEU                                                          0
COMP                                                      346.977
DESCR
SITCONTFAS                                                    AT1
SITCONTNEU                                                      0
ARE_LOC                                                        NU
Shape_Length                                             0.003136
Name: 344743, dtype: object

Por curiosidade, quantos trechos foram classificados como `malha`?

In [97]:
flag = (df['circ_SUB'] == 'Malha')
sum(flag)

11

Exatamente os 11 trechos. Era lógico... Os trechos diferentes de -1 são `sub` ou `Malha`.

## Desenhando os circuitos em que houve possível inconsistência

In [98]:
flag = (df['circ_SUB'] == sub)
dff = df[flag]
gdf = gpd.GeoDataFrame(dff)
gdf

,COD_ID,PAC_1,PAC_2,SUB,CTMT,WKT,KEY,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
178,15224095,55538212916917837MT,55550035916905606MT,12873436,17067306,MULTILINESTRING ((-38.4980167271902 -7.5159853...,SSDMT,12873436,56560487917146437MT,55538212916917837MT,55550035916905606MT,3438
179,15224099,54877908916485741MT,54868942916479421MT,12873436,17067306,MULTILINESTRING ((-38.5578257135858 -7.5551348...,SSDMT,12873436,56560487917146437MT,54877908916485741MT,54868942916479421MT,6468
180,15224100,54842205916464988MT,54842483916440474MT,12873436,17067306,MULTILINESTRING ((-38.5610601711899 -7.5570153...,SSDMT,12873436,56560487917146437MT,54842205916464988MT,54842483916440474MT,6582
181,15224101,54286377916394000MT,54284928916390253MT,12873436,17067306,MULTILINESTRING ((-38.6114387011351 -7.5634843...,SSDMT,12873436,56560487917146437MT,54286377916394000MT,54284928916390253MT,8623
182,15224102,55292140916584682MT,55287995916583355MT,12873436,387937142,MULTILINESTRING ((-38.520286998746 -7.54614560...,SSDMT,12873436,56560487917146437MT,55292140916584682MT,55287995916583355MT,9110
...,...,...,...,...,...,...,...,...,...,...,...,...
533643,17188010,56452744916780892MT,56452752916781044MT,12873436,17067306,POINT (-38.4151097413215 -7.52826977772799),UNSEMT,12873436,56560487917146437MT,56452744916780892MT,56452752916781044MT,696
533644,445121510,55432463916611549MT,55432538916611416MT,12873436,387937142,POINT (-38.5075703008287 -7.54370123122681),UNSEMT,12873436,56560487917146437MT,55432463916611549MT,55432538916611416MT,8614
533645,346869517,56039999916577731MT,56039851916577696MT,12873436,387937142,POINT (-38.4524975256402 -7.54669470829413),UNSEMT,12873436,56560487917146437MT,56039999916577731MT,56039851916577696MT,4068
533646,17168777,55417914916480525MT,55417789916480613MT,12873436,387937142,POINT (-38.5088756973555 -7.55555437313575),UNSEMT,12873436,56560487917146437MT,55417914916480525MT,55417789916480613MT,9047
534996,12877180,56562372917149075MT,IBR12877180,12873436,17067308,POINT (-38.4050541166541 -7.49505497270877),UNSEMT,12873436,56560487917146437MT,56562372917149075MT,IBR12877180,29