# Estudando BDGD

In [1]:
import pandas as pd
import numpy as np

## Leitura: CTMT (Circuito de Média Tensão)

In [2]:
file_ctmt = './Dados/CTMT_EPB.txt'

In [3]:
# Designação da Entidade: Circuito de Média Tensão
# Designação da Modelagem: CTMT
ctmt = pd.read_csv(file_ctmt, sep=';',index_col=0)
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR,PERD_A3aA4,PERD_A4A3a
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA,0.0,0.0
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA,0.0,0.0
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA,0.0,0.0

In [4]:
ctmt.shape

(360, 58)

Há 58 colunas. 

Não sabemos quantas dessas colunas são de interesse, então vou excluir uma parte para ficar com uma tabela mais leve.

In [5]:
ene_cols = [f'ENE_{i:02d}' for i in range(1,13)]
ctmt = ctmt.drop(columns=ene_cols)
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR,PERD_A3aA4,PERD_A4A3a
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA,0.0,0.0
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA,0.0,0.0
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA,0.0,0.0

In [6]:
perd_cols = [
    'PERD_A3a',
    'PERD_A4',
    'PERD_B',
    'PERD_MED',
    'PERD_A3aA4', # O correto pelo PRODIST é 'PERD_A3a_A4'.
    'PERD_A3a_B',
    'PERD_A4A3a', # O correto pelo PRODIST é 'PERD_A4_A3a'.
    'PERD_A4_B',
    'PERD_B_A3a',
    'PERD_B_A4',
]
ctmt = ctmt.drop(columns=perd_cols)
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_04,PNTBT_05,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,16613.334788,18878.320901,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,16957.582566,19803.565008,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,29074.493248,33819.607247,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA

In [7]:
pntmt_cols = [f'PNTMT_{i:02d}' for i in range(1,13)]
ctmt = ctmt.drop(columns=pntmt_cols)
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,...,PNTBT_04,PNTBT_05,PNTBT_06,PNTBT_07,PNTBT_08,PNTBT_09,PNTBT_10,PNTBT_11,PNTBT_12,DESCR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,...,16613.334788,18878.320901,25489.904739,28300.107793,36189.774149,34932.604990,53273.719264,28495.406676,40634.251546,SE IBIARA
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,...,16957.582566,19803.565008,29168.047490,34798.767123,45886.252346,43400.600957,60956.705062,33167.035131,47549.473862,SE IBIARA
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,...,29074.493248,33819.607247,47019.126530,54452.304372,71262.602440,68976.054974,98080.409456,53571.931293,78323.682392,SE IBIARA

In [8]:
pntbt_cols = [f'PNTBT_{i:02d}' for i in range(1,13)]
ctmt = ctmt.drop(columns=pntbt_cols)
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,UNI_TR_S,DESCR
OBJECTID,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,12877171,SE IBIARA
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,12877171,SE IBIARA
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,12877171,SE IBIARA

**Terminou esse bloco com `ctmt` reduzido.**

## Leitura: SSDMT (Segmento de Rede Média Tensão)

In [9]:
file_ssdmt = './Dados/SSDMT_EPB.txt'

In [10]:
# Designação da Entidade: Segmento de Rede Média Tensão
# Designação da Modelagem: SSDMT
ssdmt = pd.read_csv(file_ssdmt, sep=';', index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
ssdmt.head(3)

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,ODI_FAS,TI_FAS,ODI_NEU,TI_NEU,COMP,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,15223672,20084633,20084577,17067438,12911922,12873440,13739,6600,58224935927088283MT,58221888927070484MT,...,1,41,,0,180.579,,AT1,0,NU,0.001633
2,15223673,20083770,20084206,17067438,12911922,12873440,13739,6600,58191143927223327MT,58205538927212693MT,...,1,41,,0,178.969,,AT1,0,NU,0.001619
3,15223674,20326698,20084492,17067438,12911922,12873440,13739,6600,58211624927208161MT,58216190927204185MT,...,1,41,,0,60.545,,AT1,0,NU,0.000548

In [12]:
ssdmt.shape

(434463, 23)

Há 23 colunas. 

**Terminou esse bloco com `ssdmt` completo.**

## Obtendo a lista de SUB

In [13]:
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,UNI_TR_S,DESCR
OBJECTID,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,12877171,SE IBIARA
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,12877171,SE IBIARA
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,12877171,SE IBIARA

In [14]:
dict_SUB = {}
for idx, row in ctmt.iterrows():
    cod_ctmt = row['COD_ID']
    sub = row['SUB']
    descr = row['DESCR']
    if sub not in dict_SUB:
        dict_SUB[sub] = {}
        dict_SUB[sub]['cod_ctmt'] = cod_ctmt
        dict_SUB[sub]['nome'] = descr
dict_SUB

{12873436: {'cod_ctmt': 17067303, 'nome': 'SE IBIARA'},
 12873433: {'cod_ctmt': 17067313, 'nome': 'SE ITAPORANGA'},
 12873430: {'cod_ctmt': 17067324, 'nome': 'SE JERICO'},
 12873438: {'cod_ctmt': 17067328, 'nome': 'SE JATOBA'},
 12912330: {'cod_ctmt': 17067341, 'nome': 'SE MALTA'},
 12873429: {'cod_ctmt': 17067350, 'nome': 'SE POMBAL'},
 12873432: {'cod_ctmt': 17067364, 'nome': 'SE PIANCO'},
 12873426: {'cod_ctmt': 17067369, 'nome': 'SE PAULISTA'},
 12873434: {'cod_ctmt': 17067376, 'nome': 'SE PRINCESA ISABEL'},
 12873439: {'cod_ctmt': 17067389, 'nome': 'SE PATOS'},
 12873428: {'cod_ctmt': 17067401, 'nome': 'SE - SÃO BENTO'},
 12912331: {'cod_ctmt': 17067410, 'nome': 'SE SAO GONÇALO'},
 12912327: {'cod_ctmt': 17067422, 'nome': 'SE SANTA LUZIA'},
 12873435: {'cod_ctmt': 17067431, 'nome': 'SE SAO JOAO DO RIO DO PEIXE'},
 12873419: {'cod_ctmt': 51696864, 'nome': 'SE ITABAIANA'},
 12873449: {'cod_ctmt': 51696866, 'nome': 'SE JACARAÚ'},
 12873483: {'cod_ctmt': 51696872, 'nome': 'SE JOÃO PESSOA'},
 12873413: {'cod_ctmt': 501345970, 'nome': 'SE SAPÉ'},
 476234715: {'cod_ctmt': 501354571, 'nome': 'SE ALTIPLANO'},
 12873418: {'cod_ctmt': 51696814, 'nome': 'SE BESSA'},
 12873477: {'cod_ctmt': 51696819, 'nome': 'SE CAAPORÃ'},
 12873420: {'cod_ctmt': 51696824, 'nome': 'SE CABEDELO'},
 12873482: {'cod_ctmt': 51696831, 'nome': 'SE CONDE'},
 12873414: {'cod_ctmt': 51696838, 'nome': 'SE CRUZ DO PEIXE'},
 12873478: {'cod_ctmt': 51696844, 'nome': 'SE CRISTO'},
 12873479: {'cod_ctmt': 51696848, 'nome': 'SE DISTRITO INDUSTRIAL'},
 12873481: {'cod_ctmt': 120352233, 'nome': 'SE ORATORIO'},
 12873455: {'cod_ctmt': 137884650,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873437: {'cod_ctmt': 17067245, 'nome': 'SE BREJO DO CRUZ'},
 12873443: {'cod_ctmt': 17067254,
  'nome': 'A linha deriva de SE de atendimento precário'},
 164370026: {'cod_ctmt': 17067266, 'nome': 'Atendimento Precário'},
 12873431: {'cod_ctmt': 17067269, 'nome': 'SE CAJAZEIRAS'},
 12912329: {'cod_ctmt': 17067287, 'nome': 'SE COREMAS'},
 12873425: {'cod_ctmt': 17067295, 'nome': 'SE CATOLE DO ROCHA'},
 12873416: {'cod_ctmt': 51696855, 'nome': 'SE ILHA DO BISPO'},
 12873487: {'cod_ctmt': 51696927, 'nome': 'SE RIO TINTO'},
 188425029: {'cod_ctmt': 51696937,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873417: {'cod_ctmt': 51696938, 'nome': 'SE SANTA RITA'},
 12873412: {'cod_ctmt': 51696946, 'nome': 'SE TAMBAÚ'},
 12873440: {'cod_ctmt': 17067445, 'nome': 'SE SOUZA'},
 12873427: {'cod_ctmt': 17067453, 'nome': 'SE TEIXEIRA'},
 12912328: {'cod_ctmt': 17067462, 'nome': 'SE UIRAUNA'},
 12873454: {'cod_ctmt': 173186591, 'nome': 'SE GUARABIRA'},
 58561573: {'cod_ctmt': 184385066, 'nome': 'SE POCINHOS'},
 12873460: {'cod_ctmt': 197197666, 'nome': 'SE BOQUEIRAO'},
 12873423: {'cod_ctmt': 202118581,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873488: {'cod_ctmt': 221390171, 'nome': 'SE MANGABEIRA'},
 245930311: {'cod_ctmt': 245932938, 'nome': 'SED SOLEDADE'},
 12873485: {'cod_ctmt': 51696882, 'nome': 'SE LUCENA'},
 12912337: {'cod_ctmt': 51696884, 'nome': 'SE MATARACA'},
 188425020: {'cod_ctmt': 51696888,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873486: {'cod_ctmt': 51696898, 'nome': 'SE MATA REDONDA'},
 12873415: {'cod_ctmt': 51696903, 'nome': 'SE MUSSURE I'},
 12873424: {'cod_ctmt': 51696911,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873480: {'cod_ctmt': 51696919, 'nome': 'SE-PARATIBE'},
 12873450: {'cod_ctmt': 26260870, 'nome': 'SE AROEIRAS'},
 12873452: {'cod_ctmt': 26260876, 'nome': 'SE PILÕES'},
 12873447: {'cod_ctmt': 26260881, 'nome': 'SE RIACHAO'},
 12873451: {'cod_ctmt': 26260882, 'nome': 'SE SAO JOAO DO CARIRI'},
 12912335: {'cod_ctmt': 26260904, 'nome': 'SE CUITÉ'},
 12873465: {'cod_ctmt': 26260908,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873462: {'cod_ctmt': 26260910,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873459: {'cod_ctmt': 26260911, 'nome': 'SE ESPERANCA'},
 12873458: {'cod_ctmt': 26260915, 'nome': 'SE AREIA'},
 12912334: {'cod_ctmt': 26260923, 'nome': 'SE PICUI'},
 12912336: {'cod_ctmt': 26260926, 'nome': 'SE PEDRA LAVRADA'},
 12873475: {'cod_ctmt': 26260928,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12912332: {'cod_ctmt': 26260932, 'nome': 'SE ARARUNA'},
 12873441: {'cod_ctmt': 26260934,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873468: {'cod_ctmt': 26260935,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873471: {'cod_ctmt': 26260940,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873461: {'cod_ctmt': 26260941,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12912333: {'cod_ctmt': 26260953, 'nome': 'SE MONTEIRO'},
 12873453: {'cod_ctmt': 26260956, 'nome': 'SE JUAZEIRINHO'},
 12873446: {'cod_ctmt': 26260960, 'nome': 'SE SUME'},
 12873456: {'cod_ctmt': 26260967, 'nome': 'SE DONA INÊS'},
 12873448: {'cod_ctmt': 26260979, 'nome': 'SE  BANANEIRAS'},
 12873466: {'cod_ctmt': 26260983,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873470: {'cod_ctmt': 26260986,
  'nome': 'A linha deriva de SE de atendimento precário'},
 422267667: {'cod_ctmt': 434071874, 'nome': 'SE BAYEUX'},
 12873474: {'cod_ctmt': 26260977,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873469: {'cod_ctmt': 26260982,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873421: {'cod_ctmt': 51696889,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873445: {'cod_ctmt': 17067452,
  'nome': 'A linha deriva de SE de atendimento precário'},
 12873463: {'cod_ctmt': 26260868,
  'nome': 'A linha deriva de SE de atendimento precário'}}

**Terminou esse bloco com `dict_SUB` com chaves sendo os códigos de SUB.**

## Obtendo a lista de PAC's dos circuitos que se originam em cada SUB

In [15]:
ctmt.head(3)

,COD_ID,NOM,BARR,SUB,PAC,TEN_NOM,TEN_OPE,ATIP,RECONFIG,DIST,UNI_TR_S,DESCR
OBJECTID,,,,,,,,,,,,
1,17067303,IBR-L1,404181344,12873436,56560487917146437MT,49,1.029,0,0,6600,12877171,SE IBIARA
2,17067304,IBR-L2,404181344,12873436,56560312917147011MT,49,1.029,0,0,6600,12877171,SE IBIARA
3,17067308,IBR-L4,273725354,12873436,56560193917147954MT,49,1.029,0,0,6600,12877171,SE IBIARA

In [16]:
for sub in dict_SUB:
    flag = (sub == ctmt['SUB'])
    ctmt_filter = ctmt[flag]
    dict_SUB[sub]['pac_circuitos'] = list(ctmt_filter['PAC'])
dict_SUB

{12873436: {'cod_ctmt': 17067303,
  'nome': 'SE IBIARA',
  'pac_circuitos': ['56560487917146437MT',
   '56560312917147011MT',
   '56560193917147954MT',
   '56560278917147543MT',
   '56561475917147463MT']},
 12873433: {'cod_ctmt': 17067313,
  'nome': 'SE ITAPORANGA',
  'pac_circuitos': ['59635125919295076MT',
   '59636090919296172MT',
   '59634679919295071MT',
   '59636086919295611MT',
   '59635129919297509MT']},
 12873430: {'cod_ctmt': 17067324,
  'nome': 'SE JERICO',
  'pac_circuitos': ['63301317927424226MT',
   '63301012927424787MT',
   '63301436927425283MT']},
 12873438: {'cod_ctmt': 17067328,
  'nome': 'SE JATOBA',
  'pac_circuitos': ['69007487922027178MT',
   '69005414922026585MT',
   '69005461922026889MT',
   '69005508922027466MT',
   '69005348922026335MT']},
 12912330: {'cod_ctmt': 17067341,
  'nome': 'SE MALTA',
  'pac_circuitos': ['66284306923656643MT',
   '66288297923655653MT',
   '66286679923658588MT',
   '66287687923655438MT']},
 12873429: {'cod_ctmt': 17067350,
  'nome': 'SE POMBAL',
  'pac_circuitos': ['63156499925057332MT',
   '63155614925058166MT',
   '63156364925057976MT',
   '63155976925057548MT',
   '63156116925057916MT',
   '63154928925058118MT']},
 12873432: {'cod_ctmt': 17067364,
  'nome': 'SE PIANCO',
  'pac_circuitos': ['61402898920245479MT',
   '61403335920244468MT',
   '61402445920246619MT',
   '61403100920244980MT']},
 12873426: {'cod_ctmt': 17067369,
  'nome': 'SE PAULISTA',
  'pac_circuitos': ['65349250926986044MT',
   '65348628926986822MT',
   '65349076926986302MT',
   '65348296926987222MT']},
 12873434: {'cod_ctmt': 17067376,
  'nome': 'SE PRINCESA ISABEL',
  'pac_circuitos': ['61059225914363609MT',
   '61059884914362379MT',
   '61058919914363797MT',
   '61059352914362710MT',
   '61060689914362712MT']},
 12873439: {'cod_ctmt': 17067389,
  'nome': 'SE PATOS',
  'pac_circuitos': ['68804452922526077MT',
   '68801299922525369MT',
   '68801932922525090MT',
   '68804787922525654MT',
   '68801568922525896MT',
   '68802624922524801MT',
   '68802252922524963MT',
   '68801793922525345MT']},
 12873428: {'cod_ctmt': 17067401,
  'nome': 'SE - SÃO BENTO',
  'pac_circuitos': ['67175173928016638MT',
   '67176348928016810MT',
   '67175624928016233MT',
   '67176810928016411MT']},
 12912331: {'cod_ctmt': 17067410,
  'nome': 'SE SAO GONÇALO',
  'pac_circuitos': ['57584935924338109MT',
   '57584500924339100MT',
   '57584021924339105MT',
   '57584931924337501MT']},
 12912327: {'cod_ctmt': 17067422,
  'nome': 'SE SANTA LUZIA',
  'pac_circuitos': ['72852285923933702MT',
   '72853443923934548MT',
   '72851668923933244MT',
   '72852855923934131MT']},
 12873435: {'cod_ctmt': 17067431,
  'nome': 'SE SAO JOAO DO RIO DO PEIXE',
  'pac_circuitos': ['56021325925648303MT',
   '56021282925647571MT',
   '56021656925648040MT',
   '56021315925648880MT']},
 12873419: {'cod_ctmt': 51696864,
  'nome': 'SE ITABAIANA',
  'pac_circuitos': ['90441789918717800MT',
   '90440500918717900MT',
   '90443310918717441MT',
   '90441461918717797MT',
   '90442744918717810MT',
   '90442314918717795MT',
   '90440665918717426MT',
   '90441104918717797MT']},
 12873449: {'cod_ctmt': 51696866,
  'nome': 'SE JACARAÚ',
  'pac_circuitos': ['91129262926632114MT',
   '91129463926631151MT',
   '91130072926630788MT',
   '91129279926631564MT',
   '91129750926630924MT']},
 12873483: {'cod_ctmt': 51696872,
  'nome': 'SE JOÃO PESSOA',
  'pac_circuitos': ['95669716920989414MT',
   '95668898920989695MT',
   '95669200920990100MT',
   '95669698920987655MT',
   '95669698920987357MT',
   '95669728920989702MT',
   '95669708920989113MT',
   '95669698920987956MT',
   '95669226920986976MT']},
 12873413: {'cod_ctmt': 501345970,
  'nome': 'SE SAPÉ',
  'pac_circuitos': ['91748299921492459MT',
   '91749892921490847MT',
   '91748818921490862MT',
   '91748269921491113MT',
   '91748269921491690MT',
   '91748290921491943MT',
   '91748273921491354MT',
   '91750186921490875MT',
   '91748279921490883MT']},
 476234715: {'cod_ctmt': 501354571,
  'nome': 'SE ALTIPLANO',
  'pac_circuitos': ['96176814920839425MT',
   '96176391920838496MT',
   '96175376920839064MT',
   '96177274920839081MT']},
 12873418: {'cod_ctmt': 51696814,
  'nome': 'SE BESSA',
  'pac_circuitos': ['95863231921458096MT',
   '95862924921459164MT',
   '95863037921459554MT',
   '95863225921457713MT',
   '95864898921456300MT',
   '95863126921458791MT']},
 12873477: {'cod_ctmt': 51696819,
  'nome': 'SE CAAPORÃ',
  'pac_circuitos': ['95386037916741157MT',
   '95387074916740598MT',
   '95387684916740292MT',
   '95385470916741462MT',
   '95386560916740935MT']},
 12873420: {'cod_ctmt': 51696824,
  'nome': 'SE CABEDELO',
  'pac_circuitos': ['95987962922120452MT',
   '95987964922118917MT',
   '95987962922117923MT',
   '95987965922119949MT',
   '95987964922119432MT',
   '95987964922118230MT']},
 12873482: {'cod_ctmt': 51696831,
  'nome': 'SE CONDE',
  'pac_circuitos': ['94886400919525600MT',
   '94886400919524700MT',
   '94886400919524400MT',
   '94886400919526000MT',
   '94886400919525100MT',
   '94886400919526400MT',
   '94886456919526830MT']},
 12873414: {'cod_ctmt': 51696838,
  'nome': 'SE CRUZ DO PEIXE',
  'pac_circuitos': ['95676090921112826MT',
   '95676051921113293MT',
   '95676061921113768MT',
   '95676051921112415MT',
   '95676066921113060MT',
   '95676057921113535MT',
   '95676061921114042MT',
   '95675911921114244MT']},
 12873478: {'cod_ctmt': 51696844,
  'nome': 'SE CRISTO',
  'pac_circuitos': ['95559747920574079MT',
   '95561031920573863MT',
   '95559261920574169MT',
   '95560385920573970MT',
   '95561829920573735MT']},
 12873479: {'cod_ctmt': 51696848,
  'nome': 'SE DISTRITO INDUSTRIAL',
  'pac_circuitos': ['95230482920427684MT',
   '95230523920428410MT',
   '95230518920429022MT',
   '95230464920428100MT',
   '95230515920428714MT',
   '95230510920429320MT',
   '95230802920429446MT']},
 12873481: {'cod_ctmt': 120352233,
  'nome': 'SE ORATORIO',
  'pac_circuitos': ['92537100918176000MT',
   '92536429918174782MT',
   '92536788918175833MT',
   '92536439918177697MT',
   '92536814918176524MT']},
 12873455: {'cod_ctmt': 137884650,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['84147243919589116MT', '84147527919589942MT']},
 12873437: {'cod_ctmt': 17067245,
  'nome': 'SE BREJO DO CRUZ',
  'pac_circuitos': ['66596861929845754MT',
   '66594207929846118MT',
   '66596381929844708MT',
   '66594209929846553MT',
   '66595315929845765MT']},
 12873443: {'cod_ctmt': 17067254,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['55287839919116254MT',
   '55287228919117371MT',
   '55287846919116282MT']},
 164370026: {'cod_ctmt': 17067266,
  'nome': 'Atendimento Precário',
  'pac_circuitos': ['17067266']},
 12873431: {'cod_ctmt': 17067269,
  'nome': 'SE CAJAZEIRAS',
  'pac_circuitos': ['54960700923813800MT',
   '54960000923814300MT',
   '54961200923813500MT',
   '54961800923813100MT',
   '54961500923813300MT',
   '54960512923814029MT']},
 12912329: {'cod_ctmt': 17067287,
  'nome': 'SE COREMAS',
  'pac_circuitos': ['61680177922371607MT',
   '61680802922370590MT',
   '61680042922370804MT']},
 12873425: {'cod_ctmt': 17067295,
  'nome': 'SE CATOLE DO ROCHA',
  'pac_circuitos': ['63895719929815901MT',
   '63895111929815468MT',
   '63895132929815100MT',
   '63893897929816079MT',
   '63896350929816888MT']},
 12873416: {'cod_ctmt': 51696855,
  'nome': 'SE ILHA DO BISPO',
  'pac_circuitos': ['95265379920976990MT',
   '95265165920976298MT',
   '95265172920977690MT',
   '95265388920976755MT',
   '95265379920977232MT']},
 12873487: {'cod_ctmt': 51696927,
  'nome': 'SE RIO TINTO',
  'pac_circuitos': ['93116347924486450MT',
   '93114497924485373MT',
   '93115066924485710MT',
   '93115330924485871MT',
   '93116577924486583MT',
   '93115595924486057MT']},
 188425029: {'cod_ctmt': 51696937,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['68461156911867312MT']},
 12873417: {'cod_ctmt': 51696938,
  'nome': 'SE SANTA RITA',
  'pac_circuitos': ['94618775921126220MT',
   '94618774921125943MT',
   '94618778921125376MT',
   '94618773921126481MT',
   '94618845921125140MT',
   '94618676921124821MT',
   '94618775921125658MT',
   '94618282921125622MT',
   '94618281921125333MT',
   '94618775921126733MT']},
 12873412: {'cod_ctmt': 51696946,
  'nome': 'SE TAMBAÚ',
  'pac_circuitos': ['96043606921141561MT',
   '96043597921141995MT',
   '96043612921142199MT',
   '96043546921143305MT',
   '96043621921142444MT',
   '96043408921143514MT',
   '96043593921141795MT',
   '96043541921142932MT',
   '96043541921143036MT']},
 12873440: {'cod_ctmt': 17067445,
  'nome': 'SE SOUZA',
  'pac_circuitos': ['58228510925049006MT',
   '58227250925047430MT',
   '58228623925050624MT',
   '58228519925049578MT',
   '58228630925046889MT',
   '58228664925050132MT',
   '58228616925047330MT']},
 12873427: {'cod_ctmt': 17067453,
  'nome': 'SE TEIXEIRA',
  'pac_circuitos': ['69395425920126168MT',
   '69396102920127851MT',
   '69394953920127833MT']},
 12912328: {'cod_ctmt': 17067462,
  'nome': 'SE UIRAUNA',
  'pac_circuitos': ['56460155927838644MT',
   '56460046927838876MT',
   '56460149927838118MT']},
 12873454: {'cod_ctmt': 173186591,
  'nome': 'SE GUARABIRA',
  'pac_circuitos': ['88937840923841669MT',
   '88936165923843034MT',
   '88937031923842327MT',
   '88937673923841788MT',
   '88937343923842066MT',
   '88936462923842785MT',
   '88935774923843341MT']},
 58561573: {'cod_ctmt': 184385066,
  'nome': 'SE POCINHOS',
  'pac_circuitos': ['82064140921277380MT',
   '82064600921277500MT',
   '82063809921277188MT']},
 12873460: {'cod_ctmt': 197197666,
  'nome': 'SE BOQUEIRAO',
  'pac_circuitos': ['81611239917154011MT',
   '81611257917154640MT',
   '81611303917155288MT',
   '81611252917154323MT']},
 12873423: {'cod_ctmt': 202118581,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['95895200921321900MT']},
 12873488: {'cod_ctmt': 221390171,
  'nome': 'SE MANGABEIRA',
  'pac_circuitos': ['96193301920625438MT',
   '96193110920627427MT',
   '96193287920626895MT',
   '96193286920626174MT',
   '96193221920627139MT',
   '96193282920626409MT',
   '96193285920625940MT',
   '96193287920625696MT']},
 245930311: {'cod_ctmt': 245932938,
  'nome': 'SED SOLEDADE',
  'pac_circuitos': ['79121188921747409MT',
   '79121197921745564MT',
   '79121188921746534MT']},
 12873485: {'cod_ctmt': 51696882,
  'nome': 'SE LUCENA',
  'pac_circuitos': ['95245030923039056MT',
   '95245027923039604MT',
   '95245030923038510MT']},
 12912337: {'cod_ctmt': 51696884,
  'nome': 'SE MATARACA',
  'pac_circuitos': ['93601115926948892MT',
   '93598021926950780MT',
   '93597580926950945MT',
   '93596931926951261MT',
   '93598587926950464MT',
   '93599684926949568MT']},
 188425020: {'cod_ctmt': 51696888,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['54945528919110115MT']},
 12873486: {'cod_ctmt': 51696898,
  'nome': 'SE MATA REDONDA',
  'pac_circuitos': ['94728276918719763MT',
   '94728778918721103MT',
   '94728736918721783MT',
   '94728277918722852MT',
   '94727864918721787MT',
   '94728737918722108MT']},
 12873415: {'cod_ctmt': 51696903,
  'nome': 'SE MUSSURE I',
  'pac_circuitos': ['95376073920430440MT',
   '95375987920431773MT',
   '95376071920429580MT',
   '95376073920429997MT',
   '95375987920432106MT',
   '95375990920432410MT',
   '95376075920430212MT',
   '95376073920429788MT']},
 12873424: {'cod_ctmt': 51696911,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['95209961920432171MT']},
 12873480: {'cod_ctmt': 51696919,
  'nome': 'SE-PARATIBE',
  'pac_circuitos': ['96086588920082895MT',
   '96085610920081407MT',
   '96085267920080777MT',
   '96087144920083763MT',
   '96086116920082142MT',
   '96087388920084140MT']},
 12873450: {'cod_ctmt': 26260870,
  'nome': 'SE AROEIRAS',
  'pac_circuitos': ['86126092916328863MT',
   '86126403916328733MT',
   '86125279916328807MT']},
 12873452: {'cod_ctmt': 26260876,
  'nome': 'SE PILÕES',
  'pac_circuitos': ['87533064923911369MT',
   '87531555923911919MT',
   '87534565923910817MT',
   '87535325923910535MT',
   '87532301923911642MT',
   '87533808923911092MT']},
 12873447: {'cod_ctmt': 26260881,
  'nome': 'SE RIACHAO',
  'pac_circuitos': ['86864407919758861MT',
   '86862067919758953MT',
   '86860806919758994MT',
   '86861539919758978MT',
   '86863525919758923MT']},
 12873451: {'cod_ctmt': 26260882,
  'nome': 'SE SAO JOAO DO CARIRI',
  'pac_circuitos': ['77294722918296501MT',
   '77293712918298362MT',
   '77293995918297850MT',
   '77295884918300354MT']},
 12912335: {'cod_ctmt': 26260904,
  'nome': 'SE CUITÉ',
  'pac_circuitos': ['81436194928300991MT',
   '81436296928301213MT',
   '81436081928300730MT']},
 12873465: {'cod_ctmt': 26260908,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['83939587913788218MT']},
 12873462: {'cod_ctmt': 26260910,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['80422178918476055MT']},
 12873459: {'cod_ctmt': 26260911,
  'nome': 'SE ESPERANCA',
  'pac_circuitos': ['84635508922211220MT',
   '84636749922211023MT',
   '84636100922211054MT',
   '84634825922211482MT',
   '84634157922211461MT']},
 12873458: {'cod_ctmt': 26260915,
  'nome': 'SE AREIA',
  'pac_circuitos': ['86402049922793659MT',
   '86402428922794710MT',
   '86403184922795903MT',
   '86402314922794328MT',
   '86402645922795313MT']},
 12912334: {'cod_ctmt': 26260923,
  'nome': 'SE PICUI',
  'pac_circuitos': ['79236040927948185MT',
   '79235647927947944MT',
   '79236397927948374MT']},
 12912336: {'cod_ctmt': 26260926,
  'nome': 'SE PEDRA LAVRADA',
  'pac_circuitos': ['77997601925266774MT',
   '77998073925266823MT',
   '77997138925266735MT',
   '77996405925266784MT']},
 12873475: {'cod_ctmt': 26260928,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['75582835910095652MT']},
 12912332: {'cod_ctmt': 26260932,
  'nome': 'SE ARARUNA',
  'pac_circuitos': ['86136218927651511MT',
   '86134879927651445MT',
   '86136760927651490MT',
   '86135409927651442MT']},
 12873441: {'cod_ctmt': 26260934,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['69729609912036830MT', '69838583919202246MT']},
 12873468: {'cod_ctmt': 26260935,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['70476096910228560MT']},
 12873471: {'cod_ctmt': 26260940,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['86837140914768484MT']},
 12873461: {'cod_ctmt': 26260941,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['85909556914473095MT']},
 12912333: {'cod_ctmt': 26260953,
  'nome': 'SE MONTEIRO',
  'pac_circuitos': ['70733572912609626MT',
   '70734321912609991MT',
   '70733961912609748MT',
   '70735873912609945MT']},
 12873453: {'cod_ctmt': 26260956,
  'nome': 'SE JUAZEIRINHO',
  'pac_circuitos': ['76845359921810369MT',
   '76845282921808765MT',
   '76845910921810601MT',
   '76845092921809855MT',
   '76845258921809447MT',
   '76845752921808971MT']},
 12873446: {'cod_ctmt': 26260960,
  'nome': 'SE SUME',
  'pac_circuitos': ['73468896915161657MT',
   '73469086915162670MT',
   '73469333915161719MT',
   '73470114915161844MT']},
 12873456: {'cod_ctmt': 26260967,
  'nome': 'SE DONA INÊS',
  'pac_circuitos': ['87314806926767123MT',
   '87316585926767136MT',
   '87316160926766689MT',
   '87315477926766410MT']},
 12873448: {'cod_ctmt': 26260979,
  'nome': 'SE  BANANEIRAS',
  'pac_circuitos': ['87098987925149098MT',
   '87101025925149070MT',
   '87100108925149084MT',
   '87098175925149112MT',
   '87097563925149008MT',
   '87096995925149145MT']},
 12873466: {'cod_ctmt': 26260983,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['89536639928127538MT']},
 12873470: {'cod_ctmt': 26260986,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['89325534928118643MT']},
 422267667: {'cod_ctmt': 434071874,
  'nome': 'SE BAYEUX',
  'pac_circuitos': ['94917700920915400MT',
   '94916006920915881MT',
   '94917000920915000MT',
   '94916400920914500MT']},
 12873474: {'cod_ctmt': 26260977,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['87206104915060176MT']},
 12873469: {'cod_ctmt': 26260982,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['89388185928138040MT']},
 12873421: {'cod_ctmt': 51696889,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['88536259916974235MT']},
 12873445: {'cod_ctmt': 17067452,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['65283551916907599MT']},
 12873463: {'cod_ctmt': 26260868,
  'nome': 'A linha deriva de SE de atendimento precário',
  'pac_circuitos': ['84539679916803920MT']}}

## Obtendo os trechos que formam os circuitos

Os trechos estão em `ssdmt`.

In [17]:
ssdmt.head(3)

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,ODI_FAS,TI_FAS,ODI_NEU,TI_NEU,COMP,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,15223672,20084633,20084577,17067438,12911922,12873440,13739,6600,58224935927088283MT,58221888927070484MT,...,1,41,,0,180.579,,AT1,0,NU,0.001633
2,15223673,20083770,20084206,17067438,12911922,12873440,13739,6600,58191143927223327MT,58205538927212693MT,...,1,41,,0,178.969,,AT1,0,NU,0.001619
3,15223674,20326698,20084492,17067438,12911922,12873440,13739,6600,58211624927208161MT,58216190927204185MT,...,1,41,,0,60.545,,AT1,0,NU,0.000548

Vamos criar colunas novas para registrar subestação, circuito, de, para e contador.

In [18]:
ssdmt_com_circ = ssdmt.copy()
ssdmt_com_circ['circ_SUB'] = -1
ssdmt_com_circ['circ_CTMT'] = -1
ssdmt_com_circ['circ_PAC_de'] = -1
ssdmt_com_circ['circ_PAC_pr'] = -1
ssdmt_com_circ['circ_cont'] = -1
ssdmt_com_circ.head(3)

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,15223672,20084633,20084577,17067438,12911922,12873440,13739,6600,58224935927088283MT,58221888927070484MT,...,,AT1,0,NU,0.001633,-1,-1,-1,-1,-1
2,15223673,20083770,20084206,17067438,12911922,12873440,13739,6600,58191143927223327MT,58205538927212693MT,...,,AT1,0,NU,0.001619,-1,-1,-1,-1,-1
3,15223674,20326698,20084492,17067438,12911922,12873440,13739,6600,58211624927208161MT,58216190927204185MT,...,,AT1,0,NU,0.000548,-1,-1,-1,-1,-1

Rotina que faz a busca pelos trechos que pertencem a certo circuito.

In [19]:
def busca_em_largura(df, sub, pac_circ):
    flag = (df['circ_SUB'] == -1)
    dff = df[flag]
    
    C = [pac_circ,]
    D = set(list(dff['PAC_1']) + list(dff['PAC_2'])) - set(C)
    cont = 0

    while(len(C) > 0):

        atual = C[0]
#         print('\n\n')
#         print(f'atual = {atual}\n')
#         print('=====')
#         for item in C:
#             print(f'C.item = {item}')
#         print('=====')

        flag1 = (dff['PAC_1'] == atual)
#         print(f'sum(flag1) = {sum(flag1)}\n')

        filhos = dff[flag1]
#         display(filhos)

        for idx, row in filhos.iterrows():
            if row['PAC_2'] in D:
                print('Achou trecho!')
                df.loc[idx,'circ_SUB'] = sub
                df.loc[idx,'circ_CTMT'] = pac_circ
                df.loc[idx,'circ_PAC_de'] = row['PAC_1']
                df.loc[idx,'circ_PAC_pr'] = row['PAC_2']
                df.loc[idx,'circ_cont'] = cont
                cont += 1

                D.remove(row['PAC_2'])
                C.append(row['PAC_2'])
            else:
                print('Achou malha!')
                df.loc[idx,'circ_SUB'] = 'Malha'
                df.loc[idx,'circ_CTMT'] = 'Malha'
                df.loc[idx,'circ_PAC_de'] = 'Malha'
                df.loc[idx,'circ_PAC_pr'] = 'Malha'

        flag2 = (dff['PAC_2'] == atual)
#         print(f'sum(flag2) = {sum(flag2)}\n')
        
        filhos = dff[flag2]
#         display(filhos)
        
        for idx, row in filhos.iterrows():
            if row['PAC_1'] in D:
                print('Achou trecho!')
                df.loc[idx,'circ_SUB'] = sub
                df.loc[idx,'circ_CTMT'] = pac_circ
                df.loc[idx,'circ_PAC_de'] = row['PAC_2']
                df.loc[idx,'circ_PAC_pr'] = row['PAC_1']
                df.loc[idx,'circ_cont'] = cont
                cont += 1

                D.remove(row['PAC_1'])
                C.append(row['PAC_1'])
            else:
                print('Achou malha!')
                df.loc[idx,'circ_SUB'] = 'Malha'
                df.loc[idx,'circ_CTMT'] = 'Malha'
                df.loc[idx,'circ_PAC_de'] = 'Malha'
                df.loc[idx,'circ_PAC_pr'] = 'Malha'
    
        flag = (df['circ_SUB'] == -1)
#         print(f'sum(flag = {sum(flag)}')
        
        dff = df[flag]
        C.remove(atual)

Fazendo para apenas a 1° subestação e o 1° circuito.

In [20]:
df = ssdmt_com_circ.copy()
sub = next(iter(dict_SUB))
circ = dict_SUB[sub]['pac_circuitos'][0]
busca_em_largura(df, sub, circ)

flag = (df['circ_SUB'] != -1)
print(f'df[flag].shape = {df[flag].shape}')
print(f'df[~flag].shape = {df[~flag].shape}')
df[flag]

Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
Achou trecho!
df[flag].shape = (9, 28)
df[~flag].shape = (434454, 28)

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
OBJECTID,,,,,,,,,,,,,,,,,,,,,
145968,344160028,20050595,344160015,17067303,12877171,12873436,13704,6600,56561829917130593MT,56563111917130824MT,...,,AT1,0,UB,0.000118,12873436,56560487917146437MT,56561829917130593MT,56563111917130824MT,6
224969,15242024,20050548,20050547,17067303,12877171,12873436,13704,6600,56558719917145252MT,56559647917141454MT,...,,AT1,0,UB,0.000354,12873436,56560487917146437MT,56558719917145252MT,56559647917141454MT,2
224970,15242025,20050554,20050548,17067303,12877171,12873436,13704,6600,56559326917146241MT,56558719917145252MT,...,,AT1,0,UB,0.000105,12873436,56560487917146437MT,56559326917146241MT,56558719917145252MT,1
224971,15242027,12877209,20050554,17067303,12877171,12873436,13704,6600,56560487917146437MT,56559326917146241MT,...,,AT1,0,UB,0.000107,12873436,56560487917146437MT,56560487917146437MT,56559326917146241MT,0
279920,15241807,20050555,20050593,17067303,12877171,12873436,13704,6600,56560496917137638MT,56561370917133749MT,...,,AT1,0,UB,0.000361,12873436,56560487917146437MT,56560496917137638MT,56561370917133749MT,4
279921,15241808,20050547,20050555,17067303,12877171,12873436,13704,6600,56559647917141454MT,56560496917137638MT,...,,AT1,0,UB,0.000354,12873436,56560487917146437MT,56559647917141454MT,56560496917137638MT,3
398855,15241804,20049640,20049697,17067303,12877171,12873436,13704,6600,56566566917131687MT,56569593917132295MT,...,,AT1,0,UB,0.000280,12873436,56560487917146437MT,56566566917131687MT,56569593917132295MT,8
398858,15241805,344160015,20049640,17067303,12877171,12873436,13704,6600,56563111917130824MT,56566566917131687MT,...,,AT1,0,UB,0.000323,12873436,56560487917146437MT,56563111917130824MT,56566566917131687MT,7
398864,15241806,20050593,20050595,17067303,12877171,12873436,13704,6600,56561370917133749MT,56561829917130593MT,...,,AT1,0,UB,0.000288,12873436,56560487917146437MT,56561370917133749MT,56561829917130593MT,5

Fazendo para todas as subestações e todos os circuitos.

Atenção: vou deixar comentado, porque leva uns 30 minutos.

Problema: 
>Após uns 30 minutos, temos 6813 trechos identificados.

>E 427650 trechos sem identificação. Creio que há outra fonte de trechos além de ssdmt.

Perguntar para Mikaele.

In [21]:
# df = ssdmt_com_circ.copy()
# for sub in dict_SUB:
#     for circ in dict_SUB[sub]['circuitos']:
#         busca_em_largura(df, sub, circ)
        
# flag = (df['circ_SUB'] != -1)
# print(f'df[flag].shape = {df[flag].shape}')
# print(f'df[~flag].shape = {df[~flag].shape}')

**Depuração:**

O primeiro circuito da primeira subestação ficou apenas com 9 trechos.

Vamos ver em que pac ele parou:

In [22]:
pac = '56569593917132295MT'

In [23]:
flag1 = (ssdmt_com_circ['PAC_1'] == pac)
ssdmt_com_circ[flag1]

Empty DataFrame
Columns: [COD_ID, PN_CON_1, PN_CON_2, CTMT, UNI_TR_S, SUB, CONJ, DIST, PAC_1, PAC_2, FAS_CON, TIP_CND, POS, ODI_FAS, TI_FAS, ODI_NEU, TI_NEU, COMP, DESCR, SITCONTFAS, SITCONTNEU, ARE_LOC, Shape_Length, circ_SUB, circ_CTMT, circ_PAC_de, circ_PAC_pr, circ_cont]
Index: []

[0 rows x 28 columns]

In [24]:
flag2 = (ssdmt_com_circ['PAC_2'] == pac)
ssdmt_com_circ[flag2]

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
OBJECTID,,,,,,,,,,,,,,,,,,,,,
398855,15241804,20049640,20049697,17067303,12877171,12873436,13704,6600,56566566917131687MT,56569593917132295MT,...,,AT1,0,UB,0.00028,-1,-1,-1,-1,-1

Observe que há apenas 1 trecho que incide nesse pac, logo o comportamento da rotina foi conforme esperado.

## Filtrando SSDMT por CTMT

No DataFrame `ssdmt` já se tem a coluna `ctmt`.

Por curiosidade, vamos buscar as ocorrências do 1° circuito da 1° subestação.

In [25]:
df = ssdmt_com_circ.copy()

sub = next(iter(dict_SUB))
cod_ctmt = dict_SUB[sub]['cod_ctmt']

flag = (ssdmt_com_circ['CTMT'] == cod_ctmt)
ssdmt_com_circ[flag]

,COD_ID,PN_CON_1,PN_CON_2,CTMT,UNI_TR_S,SUB,CONJ,DIST,PAC_1,PAC_2,...,DESCR,SITCONTFAS,SITCONTNEU,ARE_LOC,Shape_Length,circ_SUB,circ_CTMT,circ_PAC_de,circ_PAC_pr,circ_cont
OBJECTID,,,,,,,,,,,,,,,,,,,,,
30700,15243026,20050127,20050124,17067303,12877171,12873436,13704,6600,56538253917035638MT,56536395917033146MT,...,,AT1,0,UB,0.000281,-1,-1,-1,-1,-1
30701,15243027,20050127,20050061,17067303,12877171,12873436,13704,6600,56538253917035638MT,56539430917034611MT,...,,AT1,0,UB,0.000155,-1,-1,-1,-1,-1
30702,15242986,20050140,20050166,17067303,12877171,12873436,13704,6600,56558187917014669MT,56561520917012638MT,...,,AT1,0,UB,0.000354,-1,-1,-1,-1,-1
31312,15242987,20050172,20050140,17067303,12877171,12873436,13704,6600,56553578917016909MT,56558187917014669MT,...,,AT1,0,UB,0.000464,-1,-1,-1,-1,-1
31313,15242988,20050170,20050172,17067303,12877171,12873436,13704,6600,56549619917018940MT,56553578917016909MT,...,,AT1,0,UB,0.000403,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398860,15241765,20204835,20204836,17067303,12877171,12873436,13704,6600,56628037917055752MT,56640739917061961MT,...,,AT1,0,NU,0.001295,-1,-1,-1,-1,-1
398861,15242090,20049361,20049360,17067303,12877171,12873436,13704,6600,56508243917042831MT,56504367917045094MT,...,,AT1,0,UB,0.000407,-1,-1,-1,-1,-1
398862,15243031,20050050,20050057,17067303,12877171,12873436,13704,6600,56540296917024149MT,56543895917022056MT,...,,AT1,0,UB,0.000377,-1,-1,-1,-1,-1
398863,15242055,20049358,20049357,17067303,12877171,12873436,13704,6600,56521864917034533MT,56522561917035498MT,...,,AT1,0,UB,0.000122,-1,-1,-1,-1,-1
398864,15241806,20050593,20050595,17067303,12877171,12873436,13704,6600,56561370917133749MT,56561829917130593MT,...,,AT1,0,UB,0.000288,-1,-1,-1,-1,-1

A rotina automática pegou 9 trechos.

Esse filtro pegou 146 trechos.

Por quê?